@page "/"

<PageTitle>Новости Дзен</PageTitle>

<div class="product-container">
    <div class="product-card">
        <img src="https://bitronik.ru/wp-content/uploads/2017/11/title_MjExN-600x381.jpg" alt="Товар 1">
        <h5>Япония создала компьютер производительностью 1 ZetaFLOPS</h5>
        <p>Если мы откроем список самых быстрых суперкомпьютеров в 2030 году, есть шанс, там появится компьютер...</p>
    </div>
    <div class="product-card">
        <img src="https://s.weddywood.ru/wp-content/uploads/2014/07/%D0%92%D0%B4%D0%BE%D1%85%D0%BD%D0%BE%D0%B2%D0%B5%D0%BD%D0%B8%D0%B5-%D0%A6%D0%B2%D0%B5%D1%82%D0%BE%D0%BC-NEW2.jpg" alt="Товар 2">
        <h5>Бордовый цвет в гардеробе после 50: коварный враг или самый модный оттенок?</h5>
        <p>Каждую осень на модных подиумах и в магазинах одежды появляется этот цвет...</p>
    </div>
    <div class="product-card">
        <img src="https://mesto-mebeli.ru/image/data/blog/idei_obustroystva%20(3).jpg" alt="Товар 3">
        <h5>Из чего состоит гардероб на холодную осеннюю погоду. Утепляемся, не выходя из дома</h5>
        <p>Осень — это время, когда природа меняет свои цвета, а мы начинаем задумываться о тепле и комфорте...</p>
    </div>
    <div class="product-card">
        <img src="https://blog.letu.ru/blog/wp-content/uploads/2024/12/novogodnij-parfyum.jpg" alt="Товар 4">
        <h5>Их хочется съесть: 4 альтернативы Tom Ford Lost Cherry от 1000 рублей</h5>
        <p>Приветствую вас, красавицы мои! 🩵 Недавно я показывала вам целый набор ароматов с аккордом вишни...</p>
    </div>
</div>


    